@charset "utf-8";
/* core.css : 모든 페이지 기본 공통 설정 */



html,body{width: 100%; height: 100%; font-size:16px; color:#333;}
html,body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,
p,div,pre,form,fieldset,form,hr{margin: 0; padding: 0;} /*기본 마진을 가지고 있기 때문에 모두 0으로 통일하는 것이 좋다*/

ul,ol,li{list-style: none;}
ul::after{ /*자식요소인 li의 float 해제*/
	content:"";
	display:block;
	clear:both;
}
/*li{float:left;}*/

a{ text-decoration: none; color:inherit; display: block; }

img{ border:none; }
select,button,input{background-color:transparent; outline:none;}

input[type="text"],input[type="password"],
input[type="search"], input[type="email"], input[type="tel"]{
	border:1px solid #666; text-indent:5px;
	padding: 3px 0;
}

button, input[type="submit"],
input[type="reset"],input[type="button"]{cursor: pointer;} /*버튼을 누를 때 손가락 버튼으로*/

header,nav,aside,article,section,footer,main,figure{
	display: block; margin: 0; padding: 0;
}
.hidden{ display: none; }
