@import url("common.css");




/* ----------콘텐츠 시작--------- */
#contWrap{
    width: 100%;
    padding:10% 0;
    background-color:#111111;
    position: relative;
    
}



#introBgLine{
    width: 100%;
    padding:3% 0;
    position: absolute;
    bottom: 0;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
}

#introSec01{
     width: 60%;
     margin: 0 auto;
    height: 80vh;
    overflow-y: hidden;
}



#introContBx{
    display: flex;
}



.introCont01{
    width: 23%;
    text-align: left;
    font-family: 'Abril Fatface';
    font-size: 4.5rem;
    line-height: 75px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.05;
}

.introCont02{
    width: 71%;
    margin-top: 6%;
    text-align: left;
    font-size: 1.2rem;
    line-height: 35px;
    font-family: 'Noto Sans CJK KR';
    color: #8B8B8B;
}

.introCont02::after{
    content: '';
    flex: none;
    clear: both;
}


.garlleryBx{
    width: 70%;
    height: 80vh;
}


.garlleryList{
    position: relative;
    width: 100%;
    height: 200%;
    margin:0;
    padding:0;
}


.garlleryList li{
    width: 100%;
    height: 25%;
}

.garlleryList>li>img{
    width: auto;
    height: 100%;
}