@import url(common.css);



/*=======콘텐츠 시작=======*/

/*=======콘텐츠1-메인화면=======*/
.conts{
	position: relative;
	width: 100%; 

}

/*메인 카피 /*Drive your Energy*/
.cont1>p{
	width: 25%;
	font: normal normal bold 30px/38px S-Core Dream 6;
	color: #000B8C;
	margin-left: 21.5%;
	padding-top: 5%;
}

/*Drive your Energy*/
.cont1>p>em{
	text-align:left;
	font-size: 1.2rem;
	font-style: normal!important;
	letter-spacing: -0.22px;
}



/*메인 카피 이미지 : 나를아끼자 박카스*/
.mainImg{
	margin-left:21%;
}


/*주먹불끈 이미지*/
.powerImg{
	position: absolute;
	left: 605px;
	top:140px;

}





/*배경화면*/
.cont1{
	position: relative;
	width: 100% !important; height: 869px;
	outline: 1px solid red;
	background: url("../img/bg_waterdrop_01.jpg") no-repeat center/cover;
}

.cont1>.products{
	width: 100%;
	height: 100%;
	/* margin-left: 45%;
	margin-top: -15%; */


}

.cont1>.products:after{
	content: '';
	display: block;
	clear: both;
}

.cont1>.products>img{
	position: absolute;
	float: left;
	animation-name: move;
	animation-iteration-count: initial;
	top:25%;

}
.products>#bacImg01{
	animation-duration: 2.5s;
	left: 45%;

}
.products>#bacImg02{
	animation-duration: 3.3s;
	left: 55%;
}
.products>#bacImg03{
	animation-duration: 3.8s;
	left: 65%;
}


@keyframes move{
	from{
		top:0;
	}
	to{
		top:25%;
	}
}





/* 마우스 스크롤 이미지 */
.cont1 a{
	position: absolute;
	left:50%;
	bottom: 5px;
}


/*=======섹션(콘텐츠)2=======*/

.cont2{
	width: 100%; margin:0 auto;
	height: auto;
	background: #000B8C url(../img/bg_bacabaca.png) no-repeat bottom;

}

.cont2_1{
	scroll-snap-align: center;
	position: relative;	
	width: 960px; height: 1000px;
	margin:0 auto;


}




/*박카스를 소개합니다*/
.cont2>.cont2_1>.cont2_copy01{
	font:3rem Typo_SsangmunDongB;
	width: 300px; height: 150px;
	color: white;
	margin:0 auto;
	padding-top: 50px;
	text-align: center;
}


.thunBox{
	margin-top: -120px;
	margin-left: 200px;
}



/*번개 아이콘*/
.thun{
	display: inline-block;
	padding:0 17%;
}


.cont2_1_img01{
	width: 500px;
	height: 550px;
	margin-top: 6%;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 100px;
}

.cont2_1_img01>.cont2_1ImgBx{
	width: 1500px;
}



.cont2_1_img01 li{
	float: left;
}



/*박카스소개 제품 이미지*/
.cont2_1_img01 img{
	width: 500px; height: 550px;
	margin:0 auto;
	border-radius: 5%;
}

/* 화살표 공통 */
.click>img{
	position: absolute;
	top:450px;
	width:50px; 
	height:84px;
}

/*왼쪽 화살표*/

#clickBx .left>img{
	left: 100px;
	cursor: pointer;
}

/* 오른쪽 화살표 */
#clickBx .right>img{
	right:100px;
	cursor: pointer;
}



/*박카스 소개 카피*/
.cont2 .cont2_copy02{
	margin:0 auto;
	font: 1.7rem SCDream4;
	color: white;
	text-align: center;
}

#bacCopyBx{
	left: 350px;
	bottom:100px;
	position: absolute;
	width: 250px;
	height: 120px;
	overflow: hidden;
}

.cont2_1 #bacCopyBx .bacCopyCont{
	width: 750px;
	height: 120px;
	margin-top: 15px;
}

.cont2_1 #bacCopyBx li{
	width: 250px;
	float: left!important;
}



#bacCopyBx li>p{
	margin-left: 20px;

}


/*view more 버튼*/
.cont2_1>.button{
	position: absolute;
	bottom: 50px;
	left: 410px;
	margin-top: 25px;
	width: 150px; height: 35px;
	border: 2px solid #fff;
	border-radius: 30px;
	background-color: rgba(0,0,0,0);
	color: #fff;
	padding:5px;
}





/*=======3번째 섹션 : 배너(박카스 이벤트, FAQ, 박카스story=======*/

.cont3{
	width: 100%; height: 499px;
	background:#090E4D 0% 0% no-repeat padding-box;  


}

/*섹션 3 컨텐츠 요소 전체*/
.cont3>.cont3_1{
	width: 960px;
	height: 499px;
	margin:0 auto;
	position: relative;
}


.cont3Box .shapes1{
	float: left;
	width: 240px;
	height: 360px;
	background: url(../img/sorce/home/Shapes1.png) no-repeat;
	margin:60px 20px;
}


.cont3Box .shapesCont1{
	margin-left: 80px;
}



/*개별배너 아이콘*/
.iconBox .iconImg{
	z-index: 999!important;
	width: 106px; height: 106px;
	float: left;
	position: absolute;
	top:120px;
}


.iconBox .icon01{
	left: 140px;
	background: url(../img/sorce/home/event.png) no-repeat;
}


.iconBox .icon02{
	left: 420px;
	background: url(../img/sorce/home/faq.png) no-repeat;
}


.iconBox .icon03{
	left: 705px;
	background: url(../img/sorce/home/story.png) no-repeat center;
}





/*배너 텍스트 박스*/
.cont3Box>.text{
	width: 130px; height: 140px;
	display: inline-block;
	position: absolute;
	top:230px;

}


/*배너 텍스트 개별박스*/
.cont3Box>.Box01{
left:130px;
}



.cont3Box>.Box02{
 left:410px;
}



.cont3Box>.Box03{
right:137px;
}






/*배너 텍스트 제목*/
.cont3Box>dl>dd:first-of-type{
	font:1.5rem/120% Typo_SsangmunDongB;
	text-align: center;
	color:#EB0028; /*빨간색*/
}

/*FAQ*/
.cont3Box>.Box02>dd:first-of-type{
	color:#000B8C; /*파란색*/
}


/*배너 텍스트 설명*/
.cont3Box>dl>dd:last-of-type{
	font:0.9rem/160% SCDream4;
	text-align: center;
	padding-top: 10px;

}




/*=======섹션4 - 광고영상 콘텐츠=======*/
.cont4{
	width: 100%; height: auto;
	background:#000B8C url(../img/sorce/home/home_bg2.png) no-repeat bottom;  
}

.cont4>.cont4_1{
	position: relative;
	width: 960px; margin:0 auto; height: 880px;
}

/*섹션 4 콘텐츠 박스*/
.cont4>.cont4_1>.cont4Box{
height: 820px;

}



/*광고영상 카피*/
.cont4>.cont4_1>.cont4Box strong{
position: absolute;
left: 200px;
top:70px;
width: 696px;
font:3.3rem/120% Typo_SsangmunDongB;
color: #FFFF;
}

/*광고영상 아이콘*/
.cont4>.cont4_1>.cont4Box img{
position: absolute;
top:80px;
left:100px;
}

/*광고 영상*/
.cont4 iframe{
position: absolute; 
top:240px; width: 800px; height: 430px;
left: 85px;
}


/*광고영상 설명*/

.cont4 .mov_Descrip{
	position: absolute;
	font:1rem SCDream4;
	color: #FFF;
	bottom:160px; left:330px;
	opacity: 0.7;
}


.cont4 .topbnt{
	position: absolute;
	left:350px; bottom:200px;
}


