
@import url(common_m.css);

	


.contsWrapper{
	width: 100%; 
	overflow: hidden;
	height: auto;
}


.cont1{
	width: 100%;
	opacity: 1;
	height:500px;
	background: url(../img/sorce/home/home_bg1.jpg)no-repeat center/cover;
	position: relative;
	background-color: #fff;
}






/*메인 카피 /*Drive your Energy*/
.cont1>p{
	width: 50%;
	font: normal normal bold 0.5vw/20px SCDream4;
	color: #000B8C;
	padding-top: 10%;
	margin-left: 10%;
}

/*Drive your Energy*/
.cont1>p>em{
	text-align:center;
	font-size: 1.2rem;
	font-style: normal!important;
	letter-spacing: -0.22px;
}


/*메인 카피 이미지 : 나를아끼자 박카스*/
.mainImg>img{
	width: 40%;
	height: auto;
	position: absolute;
	left: 10%;
	top:15%;

}


/*주먹불끈 이미지*/
.powerImg{
	position: absolute;
	left: 36%;
	top:15%;
	width: 12%;
	height: auto;
}

.powerImg>img{
	width: 100%;
	height: auto;
}





/* 메인 이미지 */
.cont1 .products{
	width: 40%;
	height: 15vh;
}





.cont1>.products>img{
	position: absolute;
	float: left;
	animation-name: move;
	width: 15%;
	height: auto;
	animation-iteration-count: initial;
	top:46%;

}
.products>#bacImg01{
	animation-duration: 2.5s;
	left: 50%;

}
.products>#bacImg02{
	animation-duration: 3.3s;
	left: 65%;
}
.products>#bacImg03{
	animation-duration: 3.8s;
	left: 80%;
}


@keyframes move{
	from{
		top:0;
	}
	to{
		top:46%;
	}
}

.downArrow{
	display: none;
}

/*=======섹션(콘텐츠)2=======*/

.cont2{
	position: relative;
	width: 100%; margin:0 auto;
	height: 700px;
	background: #000B8C url(../img/sorce/mobile/bakabaka_m.png) no-repeat bottom/100% auto;

}

.cont2_1{
	position: relative;	
	width: 100%; 
	margin:0 auto;


}




/*박카스를 소개합니다*/
.cont2>.cont2_1>.cont2_copy01{
	font:1.9rem Typo_SsangmunDongB;
	width: 100%; 
	color: white;
	margin:0 auto;
	padding-top: 50px;
	text-align: center;
}


.thunBox{
	width: 70%;
	top:12%;
	left: -4%;
	position: absolute;
	display: flex;
}


/*번개 아이콘*/
.thun{
	width: 12%;
	padding:0 34.5%;

}



.cont2_1_img01{
	width: 70%;
	height: auto;
	margin:0 auto;
	overflow: hidden;
	padding-top: 20px;
}

.cont2_1_img01>.cont2_1ImgBx{
	width: 300%;
	height: auto;
		margin:0 auto;
	display: flex;
}



/*박카스소개 제품 이미지*/
.cont2_1_img01 img{
	width: 100%; height: auto;
	margin:0 auto;
	border-radius: 5%;
}


/* 화살표 공통 */
.clickBx{
	width: 100%;
	height: 90px; 
}

.click{
		position: absolute;
		top:55%;
	width:50px; 
	height:84px;
}

.right{
		right: 0;
}

.left{
	left: 0;

}




/*박카스 소개 카피*/


#bacCopyBx{
	position: absolute;
	width:100%;
	height: auto;
	overflow: hidden;
}



.bacCopyCont{
	display: flex;
	width:300%;
	margin:0 auto;
	height: 100px;
}


.cont2 .cont2_copy02{
	height: 55px;
	font: 1.2rem SCDream4;
	color: #fff;
	text-align: center;
}



.cont2_1 #bacCopyBx li{
		margin-top: 1.5%;
		width: 100%;
}



#bacCopyBx li>p{
	width: 100%;

}


/*view more 버튼*/
.cont2_1>.button{
	position: absolute;
	bottom:-35%; 
	left: 35%; 
	font-size: 3vw;
	width: 30%;
	border: 2px solid #fff;
	border-radius: 30px;
	background-color: rgba(0,0,0,0);
	color: #fff;
	padding:3%;

}


/*=======3번째 섹션 : 배너(박카스 이벤트, FAQ, 박카스story=======*/

.cont3{
	width: 100%; height: auto;
	background:#090E4D 0% 0% no-repeat padding-box;  
}


/*섹션 3 컨텐츠 요소 전체*/
.cont3>.cont3_1{
	width: 100%;
	height: 180px;
	position: relative;
}

.cont3Box{
	position: relative;
		width: 100%;
		height: 100%;
		display: flex;
}


.cont3Box .shapes1{

	margin:12% 4%;
	width: 25%;
	height: 50%;
	border-radius: 50%;
	background-color: #fff;

}

.iconBox{
	top:25%;
	left:0;
	position: absolute;
	width: 100vw;
	height: 26vw;
}




/*개별배너 아이콘*/
.iconBox .iconImg,
.iconBox a{
margin-top: 2%;
position: absolute;
top:-3%;
width: 60px;
height: 60px;
z-index: 999!important;
float: left;
display: block!important;
}





.iconBox .iconComm
{
	width: 70%!important;
	height: 70%!important;
}



.iconBox .icon01{
	left: 7%;
	background: url(../img/sorce/mobile/event_m.png) no-repeat center/80%;
}


.iconBox .icon02{
	left: 41%;
	background: url(../img/sorce/mobile/qna_m.png) no-repeat center/80%;
}


.iconBox .icon03{
	right:10%;
	background: url(../img/sorce/mobile/story_m.png) no-repeat center/80%;
}



/*배너 텍스트 박스*/
.textBx .text,
.textBx .text a{
	display: flex;
	position: absolute;
	top:55%;
	padding: 1.5%;
	font:0.5rem/120% Typo_SsangmunDongB;
	text-align: center;
}



/*배너 텍스트 제목*/
.textBx .Bantx01,.textBx .Bantx03{

	color:#EB0028; /*빨간색*/
}


.textBx .Bantx01{
	left: 11%;
}



/*FAQ*/
.textBx .Bantx02{
	color:#000B8C; /*파란색*/
	left: 46%;
	top:60%;
}

.textBx .Bantx03{
	right:21%;
}



/*=======섹션4 - 광고영상 콘텐츠=======*/
.cont4{
	width: 100%; height:auto;
	background:#000B8C url(../img/sorce/mobile/m_bg01.png) no-repeat bottom/100% auto; 
}

.cont4>.cont4_1{
	position: relative;
	width: 90%; margin:0 auto; height: 500px;
}

/*섹션 4 콘텐츠 박스*/
.cont4>.cont4_1>.cont4Box{
	height: 80%;
	padding-top: 12%;
}

.cont4 strong{
font:1.6rem/120% Typo_SsangmunDongB;
color: #FFFF;
width: 80%;
height: 40%;
}


iframe{
	margin-top: 8%;
	width: 100%;
	height: 55%; 
}


.mov_Descrip{
	margin-top: 5%;
	text-align: center;
	font:0.8rem SCDream4;
	color: #FFF;
	opacity: 0.7;
}

.cont4 .topbnt{
	margin-top: 8%;
	margin-left: 44%;
	width: 15%;
	height: 10%;
}

.cont4 .topbnt img{

	width: 100%;
	height: 100%;
}

