@import url(common.css);
@font-face{
	font-family:Typo_SsangmunDongB;
	src:url("../fonts/Typo_SsangmunDongB.eot");
	src:local(※),
			url("../fonts/Typo_SsangmunDongB.woff") format("woff");
	}

@font-face{
	font-family:SCDream4;
	src:url("../fonts/SCDream4.eot");
	src:local(※),
			url("../fonts/SCDream4.woff") format("woff");
	}


/*==========콘텐츠 시작================*/


.event{
	width: 100%;
	height: auto;
	background: #f1f6f9 0% 0% no-repeat padding-box;	
}
/*==========콘텐츠 1 sec1================*/



.cont1{
	background: #ffffff url(../img/sorce/sub1/sub_bg01.png) no-repeat bottom;
	opacity: 1;
}

.contBox1{
	width: 960px;
	height: 510px;
	margin:0 auto;
}


/*바카바카*/
.bacaCopy>img{
	transform: translate(140%,15%);
}


/*상단콘텐츠 박스(바카바카+카피)*/
.bacaCopy{
	width: 610px;
}

/*메인카피 공통사항*/
.bacaCopy p{
	transform: translate(30%,50%);
	margin-top: 7px;
	font:2.5rem Typo_SsangmunDongB;
	text-align: center;
	color:#000B8C;
}


/*메인 카피*/

.bacaCopy>.copy0102{
	padding-top: 35px;
}


/*다양하게 진행중인*/
.bacaCopy .copy01{
	margin-left: -40px;

}



/*탭메뉴*/

form select{
	appearance:none;
	width: 140px;
	height: 40px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #BABABA;
	margin-left:90px;
	margin-top: 60px;
	background: url(../img/sorce/sub3/select_arrow.png) no-repeat 90% 50%;
	padding-left: 5px;
}



select>option{
	margin-right: 30px;
	text-align: center;
	font: normal normal normal 15px/23px SCDream4;
	letter-spacing: 2.2px;
	color: #3D3D3D;
	opacity: 1;
}




/*=========콘텐츠2 SEC2===========*/


.cont2{
	padding-bottom: 100px;
}



.contBox2{
	position: relative;
	width: 960px;
	height: auto;
	margin:0 auto;
}

.listBox{
	margin: 0 auto;
	width: 900px;
	height: 720px;
}


/*이미지+글 박스*/
.contBox2 .list{
	transform: translate(20%,0);
	float: left;
	width: 228px;
	height: 330px;
	background-color: #fff;
	margin: 12px 20px;
	padding:0 -20px;

}


#listWrapP{
	margin-bottom: 3%;
}


#listBox2{
	display: none;
}



/*이미지 박스 공통사항*/
.list>dt{
	width: 228px;
	height: 228px;
}




/*이벤트 썸네일*/
.img01{background: url(../img/sorce/sub3/event1.png) no-repeat center;}
.img02{background: url(../img/sorce/sub3/event2.png) no-repeat center;}
.img03{background: url(../img/sorce/sub3/event3.png) no-repeat center;}
.img04{background: url(../img/sorce/sub3/event4.png) no-repeat center;}
.img05{background: url(../img/sorce/sub3/event1.png) no-repeat center;}
.img06{background: url(../img/sorce/sub3/event2.png) no-repeat center;}


/*썸네일 설명글*/

.list dd{
	margin-top: 15px;
	margin-left: 25px;
}

.list dd:first-of-type{
	font: normal normal 800 18px/25px SCDream4;
	letter-spacing: 0px;
	color: #3D3D3D;
	text-align: left;
}

.list dd:nth-of-type(2){
	font: normal normal normal 13px/22px SCDream4;
	letter-spacing: 0px;
	color: #3D3D3D;
	opacity: 1;
}

.list dd:last-of-type{
	font: normal normal normal 8px/13px SCDream4;
	letter-spacing: 0px;
	color: #BABABA;
	opacity: 1;
}




/*더보기 리스트*/
#viewList{
	height: 660px;
	display: none;
}


#viewBx{
	width: 180px;
	height: 70px;
	margin: 0 auto;

}


.viewMore{
	cursor: pointer;
	width: 170px;
	height: 55px;
	border: 4px solid #000B8C;
	border-radius: 30px;

}

.viewMore p{
	font: normal normal normal 18px/22px SCDream4;
	color:#000B8C;
	text-align: center;
	margin-top: 18px;
	margin-right: 5px;
}



/*==========푸터===========*/

.footer{
	width: 100%; height: 150px;
	background:#090E4D 0% 0% no-repeat padding-box;
}



.footer>.footerBox{
	position: relative;
	width: 960px; margin: 0 auto;
}

.footer>.footerBox>.dongaLogo{
	position: absolute;
	top:30px; 
}


/*공지사항, 이용약관, 개인정보취급방침*/
.footer>.footerBox>.footerText{
	position: absolute;
	left: 250px; top:30px;
}


.footer>.footerBox>.footerText>li{
	float: left;
	
	font:1rem SCDream4;
	color:#FFFF;
	margin:0 30px;
}

/*공통사항*/
.footer>.footerBox>select,address,p,option{
	font:0.8rem SCDream4;
	color:#FFFF;
}

.footer>.footerBox>p{
	position: absolute;
	top:100px; left:280px;
}

.footer>.footerBox>address{
	position: absolute;
	top:70px; left:280px;

}





.footer>.footerBox>select{
	position: absolute;
	top:30px; right: 5px;
	padding:5px 10px;
	color:grey;}